body{
    background-image: url("paper-background.jpg");
    margin: 50px;
}

h1{
    color: #5d0f7c;
    font-weight: bold;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: #9b8401;
    font-weight: bold;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

h3, p{
    color: #5d0f7c;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label{
    color: #000000;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

